:root{
  --green: #adff2f;
  --playlist: rgb(20, 25, 34);
  --width-toolbar: 230px; 
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,ol,li{
  list-style: none;
}

a{
  text-decoration: none;
  color: currentColor;
}

img{
  width: 100%;
}


/* UTILITIES */
.row-reverse{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.row{
  display: flex;
}

.flex {
  display: flex;
}

.flex-grow{
  flex-grow: 1;
}

.item-center{
  align-items: center;
}

.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.justify-end{
  justify-content: flex-end;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.container{
  max-width: 100%;
  padding: 10px 20px;
}

.pad-bet-col{
  padding: 0px 10px;
}

.margin-row{
  margin: 20px 0px;
}

.col-12{
  flex-basis: 100%;
}

.col-6{
  flex-basis: calc((100% / 12) * 6);
}

.col-4{
  flex-basis: calc((100% / 12) * 4);
}

.col-2{
  flex-basis: calc((100% / 12) * 2);
}


#app{
  height: 100vh;
  overflow: hidden;
  color: white;
}

.page{
  overflow: hidden;
}

.player{
  background-color: rgb(40, 40, 40);
  color: white;
  text-align: center;
  width: 100%;
  height: auto;
}

.sidebar{
  width: 50px;
  height: 100%;
  overflow: hidden;
  background-color: black;
  flex-shrink: 0;
}

.playlist{
  height: 100%;
  overflow: scroll;
  background-color: var(--playlist);
}

/*PLAYER*/
.track-player{
  flex-basis: 50%;
}
.album,
.controls{
  flex-basis: var(--width-toolbar);
}

.cont-album-name,
.cont-main-icon{
  padding: 20px 10px;
}

.cont-album-name{
  gap: 15px;
}

.cont-album-name > img{
  width: 24px;
  height: 24px;
}

.cont-main-icon{
  gap: 15px;
}

.cont-icon > i{
  color: rgb(125, 125, 125);
}

.cont-author > p{
  color: rgb(125, 125, 125);
}

.menu{
  gap: 14px;
  padding: 10px 0px;
}

.menu__item{
  font-size: 22px;
}

.icon-play{
  font-size: 28px;
  margin: 0px 10px;
}

.cont-timeline{
  gap: 10px;
}

.timeline{
  background-color: rgb(95, 95, 95);
  border-radius: 999px;
  position: relative;
}

.volume{
  background-color: rgb(95, 95, 95);
  border-radius: 999px;
  position: relative;
}

.timeline__start{
  height: 6px;
  background-color: white;
  border-radius: 999px;
  width: 25%;
}

.cont-handle{
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: 25%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.cont-timeline:hover .cont-handle{
  display: block;
}

.cont-timeline:hover .timeline__start{
  background-color: var(--green);
}

.volume:hover .cont-handle{
  display: block;
}

.volume:hover .timeline__start{
  background-color: var(--green);
}

/* SIDEBAR */
.logo{
  padding: 10px 10px;
  margin-bottom: 10px;
}
#logo{
  width: 24px;
  height: 24px;
}

.menu-sidebar{
  margin: auto;
}

.name-author{
  gap: 10px;
}

.name-mobile{
  gap: 10px;
}

.block-image{
  width: 22px;
  height: 22px;
  filter: brightness(0) invert(1);
}

#logo-desktop{
  width: 75%;
}

.cont-menu{
  padding: 0 10px;
  margin-bottom: 10px;
}

.icon{
  font-size: 22px
}

.icon-home{
  font-family: sans-serif;
  font-size: 14px;
}

.icon-search,
.icon-library{
  font-family: sans-serif;
  color: rgb(125, 125, 125);
  font-size: 14px;
}

.playlist-sidebar{
  padding: 10px 10px;
  font-family: sans-serif;
}

.playlist-desktop > h4{
  margin-bottom: 10px;
}

.icon-playlist{
  gap: 10px;
}

.icon-playlist > span{
  font-size: 16px;
  color: rgb(125, 125, 125);
}

.icon-square-plus{
  color: rgb(125, 125, 125);
  font-size: 40px;
}

.item-playlist{
  font-size: 14px;
  color: rgb(125, 125, 125);
}

.name-author{
  padding: 10px 10px;
}

.icon-download{
  gap: 10px;
  color: rgb(125, 125, 125);
  padding: 10px 0;
  border-bottom: 1px solid rgb(125, 125, 125);
}

.icon-user{
  margin-top: 15px;
  gap: 10px;
}

.icon-user > span{
  font-weight: 700;
}

.icon-user > i{
  font-size: 24px;
}

/* MAIN */
.playlist{
  position: relative;
}

.upgrade{
  width: 100%;
  height: 100px;
  background-color: black;
  position: absolute;
  top: 0;
}

.cont-btn{
  padding: 0px 10px;
}

.btn{
  color: white;
  text-align: center;
  background-color: transparent;
  border: 1px solid;
  border-radius: 20px;
  padding: 10px 18px;
}

.main-section{
  margin: 100px 0px;
}

.main-section__title{
  gap: 20px;
  padding: 10px 0px;
}

.main-section__title > p{
  font-size: 22px;
  color: rgb(125, 125, 125);
}

.card__title{
  gap: 10px;
  padding: 5px 0px;
}

.col-12 > p{
  color: rgb(125, 125, 125);
}

.card__title > h4{
  text-align: center;
  font-weight: 700;
  font-size: 18px;
}

.card__title > p{
  text-align: center;
  color: rgb(125, 125, 125);
}

.image-card{
  width: 250px;
  height: 250px;
}

.circle-image{
  border-radius: 50%;
}

/* HOVER */
.nav .menu__item.active{
  border-left: 2px solid var(--green);
}

.main-section__title .line-green{
  position: relative;
}

.main-section__title .line-green::before{
  content: '';
  position: absolute;
  display: block;
  height: 10%;
  width: 60px;
  background-color: var(--green);
  bottom: 0;
  left: 25%;
}

.card__image{
  position: relative;
}

.icon-hover{
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon-play{
  font-size: 60px;
}

.card__image:hover .image-card{
  opacity: 0.3;
}

.card__image:hover .icon-hover{
  opacity: 1;
}

.btn:hover{
  transform: scale(1.2);
}

.main-section__title p:hover{
  color: white;
}

.menu__item > span:hover{
  color: white;
}

.icon-playlist > span:hover{
  color: white;
}

.icon-playlist > i:hover{
  color: white;
}

.icon-download > span:hover{
  color: white;
}

.cont-icon > i:hover{
  color: white;
}

.icon-play:hover{
  transform: scale(1.2);
}






/* MEDIA QUERY */

@media (min-width: 576px) { }

@media (max-width: 768px){
  .logo-desktop,
  .menu-desktop,
  .playlist-desktop,
  .name-desktop{
    display: none;
  }
}

@media (min-width: 768px) { 
  .sidebar{
    width: 230px;
  }

  .cont-album-name > img{
    width: 42px;
    height: 42px;
  }

  /* SIDEBAR */
  .name-mobile,
  .logo-mobile,
  .menu-mobile{
    display: none;
  }
 }

@media (min-width: 992px) {  }

@media (min-width: 1200px) {  }

@media (min-width: 1400px) {  }

/*DEBUG*/

.debug body{
  border: 1px solid black;
  padding: 20px;
}

.debug .row-reverse{
  border: 1px solid orange;
  padding: 20px;
}

.debug .row{
  border: 1px solid purple;
  padding: 20px;
}

.debug main{
  border: 1px solid blue;
  padding: 20px;
}

.debug .player {
  border: 1px solid green;
  padding: 20px;
}

.debug .sidebar{
  border: 1px solid red;
  padding: 20px;
}

.debug .playlist{
  border: 1px solid black;
  padding: 20px;
}